{% extends "base_generic.html" %}

{% block content %}

<p>There are following meals in your plan stored:</p>
<a class="btn btn-outline-dark mx-auto" href="{% url 'create_plan_calendar' previous_week.year previous_week.week %}" role="button">Previous week</a>
<a class="btn btn-outline-dark mx-auto" href="{% url 'create_plan_calendar' current_week.year current_week.week %}" role="button">Today</a>
<a class="btn btn-outline-dark mx-auto" href="{% url 'create_plan_calendar' next_week.year next_week.week %}" role="button">Next week</a>

  <table class="table table-hover table table-bordered text-center">
  <thead>
    <tr>
    <th scope="col"> {{ week_dates|first|date:"Y" }}</th>
    {% for day in week_dates %}
    <th scope="col">{{ day|date:"jS M, l" }}</th>
    {% endfor %}
    </tr>
  </thead>
<tbody>
  
    <tr>
      <th>1st breakfest</th>
  {% for day in week_dates %}
      <th>
        <a href="{% url 'add_dish_to_calendarplan' day|date:'Y' day|date:'n' day|date:'j' 0 %}">+</a>
        <a href="{% url 'add_dish_to_calendarplan' day|date:'Y' day|date:'n' day|date:'j' 0 1 %}">-</br></a>
        {% for dish in dish_list_1st_breakfest %}
			{% if day|date:"Y n j" == dish.meal_date|date:"Y n j" %}
				<a href="dish/{{dish.dish_id}}">{{dish.dish_id}}</a></br>
			{% endif %}
      {%endfor%}
      
    </th>
      {% endfor %}
    </tr>
    <tr>
      <th>2nd breakfest</th>
      {% for day in week_dates %}
      <th>
        <a href="{% url 'add_dish_to_calendarplan' day|date:'Y' day|date:'n' day|date:'j' 1 %}">+</a>
        <a href="{% url 'add_dish_to_calendarplan' day|date:'Y' day|date:'n' day|date:'j' 1 1 %}"> -</br></a>
        {% for dish in dish_list_2nd_breakfest %}
        {% if day|date:"Y n j" == dish.meal_date|date:"Y n j" %}
          <a href="dish/{{dish.dish_id}}">{{dish.dish_id}}</a>
    {% endif %}
      {%endfor%}
    </th>
      {% endfor %}
    </tr> 
    <tr>
      <th>Dinner</th>
      {% for day in week_dates %}
      <th>
        <a href="{% url 'add_dish_to_calendarplan' day|date:'Y' day|date:'n' day|date:'j' 2 %}">+</a>
        <a href="{% url 'add_dish_to_calendarplan' day|date:'Y' day|date:'n' day|date:'j' 2 1 %}"> -</br></a>
        {% for dish in dish_list_dinner %}
        {% if day|date:"Y n j" == dish.meal_date|date:"Y n j" %}
          <a href="dish/{{dish.dish_id}}">{{dish.dish_id}}</a>
    {% endif %}
      {%endfor%}
    </th>
      {% endfor %}
    </tr> 
    <tr>
      <th>Supper</th>
      {% for day in week_dates %}
      <th>
        <a href="{% url 'add_dish_to_calendarplan' day|date:'Y' day|date:'n' day|date:'j' 3 %}">+</a>
        <a href="{% url 'add_dish_to_calendarplan' day|date:'Y' day|date:'n' day|date:'j' 3 1 %}"> -</br></a>
        {% for dish in dish_list_supper %}
        {% if day|date:"Y n j" == dish.meal_date|date:"Y n j" %}
          <a href="dish/{{dish.dish_id}}">{{dish.dish_id}}</a>
          {% endif %}
      {% endfor %}
    </th>
      {% endfor %}
    </tr>   
  </tbody>
</table>

{% endblock %}