{% extends "base_generic.html" %}

{% block content %}
  <p>Lista składników dania {{dish_name}}</p>
	<ul class="list-group list-group-flush">
	{% for ingredient in ingredient_list %}
	    <li class="list-group-item">{{  ingredient.ingredient_id  }} <b>{{ingredient.quantity}} {{ingredient.ingredient_id.unit_id}}</b></li>
	{% endfor %}
	</ul>
	<table class="table table-hover table table-bordered text-center">
		<thead>
			<tr>
				<th>Energy:</th>
				<th>Proteins</th>
				<th>Fat</th>
				<th>Carbohydrates</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				{% for param in dish_parameters %}
				<th>{{ param.kcal }} KCal</th>
				<th>{{ param.proteins }} g</th>
				<th>{{ param.fat }} g</th>
				<th>{{ param.carbohydrates }} g</th>
				{% endfor %}
			</tr>
		</tbody>
	</table>
	<p><a class="btn btn-outline-dark" role="button" href="{% url 'add_dish_details' dish_name %}">Add new ingredients to recipe?</a></p>
{% endblock %}